* {
    font-family: sans-serif;
}

#editMe {
    width: 600px;
    height: 300px;
    background-color: white;
    border: 1px solid grey;
}

#toolbar {
    width: 602px;
}

#fieldContents {
    height: 100px;
    width: 400px;
}